@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:ital@1&display=swap');

body{ 
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://www.fenelonsaintemarie.org/lycee/files/SECONDAIRE-1024x683.jpg'); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}
form{
    margin-top: 150px;
    background-color: white;
    padding: 40px 60px;
    border-radius: 30px;
    min-width: 300px;
}
form h1{
    color: black;
    text-align: center;
}
form .inputs{
    display: flex;
    flex-direction: column;
}
form .inputs input[type="text"], input[type="password"]{
    padding: 15px;
    border-radius: 5px;
    border: none;
    background-color:#B8B8A5;
    margin-top: 15px;
}
input::placeholder {
    color: black;
    opacity: 1;
}
form button{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #FF7900;
    color: white;
    border: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
    cursor: pointer;
    -moz-border-radius:8px;	
    border-radius:8px;
}